*,
*::before,
**::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

#canvas.container {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
    border: 1px solid black;
}

.paintable-square {
    border: 1px solid #ddd;
    box-sizing: border-box;
    background-color: white;
}